<html>
<head>
  <title>Capsoff.net</title>
  <style>
    {% block css %}{% endblock css %}
  </style>

  <link rel="stylesheet" media="all" href="/static/style.css">
</head>
<body>
  <div class="wrapper">
    <div class="head">
        {% if request.user.is_authenticated %}
              Вы вошли как 
              
              {% if request.user.get_profile.get_type == 'student' %}
                студент
              {% endif %}

              {% if request.user.get_profile.get_type == 'teacher' %}
                {{ request.user.teacher.degree }}  
              {% endif %}
              {{ request.user.last_name }} 
              {{ request.user.first_name.0 }}.
              {{ request.user.get_profile.middle_name.0 }}.
              {% if request.user.get_profile.get_type == 'student' %}
                  из группы {{ request.user.student.group }}.
              {% endif %}
            
            <a href="{% url logout %}">Выйти</a>
        {% else %}
            <a href="{% url login %}">Войти</a>        
            <a href="{% url registration_register %}">Регистрация</a>
        {% endif %}

    </div>

    <div class="menu-container">
      <table class="menu" cellspacing="0">
        <tr>
          <td><a href="{% url home %}">Главная</a>
        </td>
        <td>
          <a href="{% url main-schedule %}">Основное расписание</a>
        </td>
        <td>
          <a href="{% url secondary-schedule %}">Второстепенное расписание</a>
        </td>
      </table>  
    </div>

    <div class="content">
      {% block content %}{% endblock content %}
    </div>
  </div>
</body>
</html>