{% extends "base.html" %}

{% block title %}{{chair.name}}{% endblock title %}

{% block content %}
  <h1>{{chair.name}}</h1>

  <b>Преподаватели:</b>

  <ul>
    {% for teacher in chair.teacher_set.all %}
      <li><a href="/frontend/user/{{teacher.pk}}">{{teacher}}</a></li> 
    {% endfor %}    
  </ul>


  <b>Группы:</b>

  <ul>
    {% for group in chair.studentgroup_set.all %}
      <li><a href="/frontend/group/{{group.pk}}">{{group}}</a></li>  
    {% endfor %}    
  </ul>
{% endblock content %}
