{% extends "base.html" %}

{% block title %}{{group.name}}{% endblock title %}

{% block content %}
  <h1>{{group.name}}</h1>

  <table>
    <tr><td>Кафедра:</td><td><a href="/frontend/chair/{{group.chair.pk}}">{{group.chair}}</a></td></tr>
    <tr><td>Куратор:</td><td><a href="/frontend/user/{{group.curator.pk}}">{{group.curator}}</a></td></tr>
    <tr><td>Год поступления:</td><td>{{group.enroll_year}}</td></tr>
    <tr>      
      <td colspan="2">
        <b>Студенты:</b>
        <ul>
        {% for student in group.student_set.all %}
          <li><a href="/frontend/user/{{group.pk}}">{{student}}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
{% endblock content %}