<table border="1" cellpadding="10" bordercolor="#cecece" cellspacing="2" align="center" class="schedule-table" width="100%">
    <tr style="background: #EEEEEE">
        {% if not exclude_group %}        
            <th>Группа</th>
        {% endif %}

        {% if not exclude_teacher %}
            <th>Преподаватель</th>    
        {% endif %}

        <th>Предмет</th>
        <th>День недели</th>
        <th>Пара</th>
        <th>Информация</th>
    </tr>

{% for meeting in main_meeting_list %}
    <tr class="table_row">
        {% if not exclude_group %}
            <td>{{ meeting.group }}</td>
        {% endif %}

        {% if not exclude_teacher %}
            <td>{{ meeting.teaching.teacher }}</td>
        {% endif %}

        <td>{{ meeting.teaching.subject }}</td>
        <td>{{ meeting.get_week_day_display }}</td>
        <td>{{ meeting.get_pair_num_display }}</td>
        <td><a href="{% url show-meeting meeting.id %}">Открыть</a></td>
    </tr>
{% endfor %}
</table>
